{{#ifCond sampleJSON "||" sampleXML}}

<div>
	<h4 class='curl'>Example Value</h4>
<div>

<div class="signature-container">
  <div class="snippet">
  {{#if sampleJSON}}
      <div class="snippet_json">
        <pre><code>{{sampleJSON}}</code></pre>
        {{#if isParam}}<small class="notice" data-sw-translate></small>{{/if}}
      </div>
  {{/if}}
  {{#if sampleXML}}
    <div class="snippet_xml">
      <pre><code>{{sampleXML}}</code></pre>
      {{#if isParam}}<small class="notice" data-sw-translate></small>{{/if}}
    </div>
  {{/if}}
  </div>
</div>
{{else}}
    {{signature}}
{{/ifCond}}